<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>TODO Item Directory</title>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
</head>

<body>

<div class="container">


	<h3>TODO Items</h3>
	<hr>
	<a th:href="@{/list/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add New TODO
	</a>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Title</th>
				<th>Status</th>
				<th>Date</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr class="" th:each="tempItems:${item}">
				<td th:text="${tempItems.text}"/>
				<td th:text="${tempItems.isComplete  == true ? 'Complete' : 'Incomplete'}"/>
				<td th:text="${tempItems.createdAt}"/>
				<td>
				<a th:href="@{/list/todo-update-form(id=${tempItems.id})}"
						class="btn btn-info btn-sm">Update</a>
				
			 	<a th:href="@{/list/todo/{id}(id=${tempItems.id})}"
					   class="btn btn-danger btn-sm"
					    onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
						Delete
					</a>
					<!-- <form th:action="@{/list-items/{id}(id=${todo.id})}" method="post">
					
					</form>
					-->
				</td>
			</tr>
		</tbody>
	</table>
	
	</div>
</body>
</html>